# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.
This is a notebook study project that the IBM is teaching how to use Jupyter Notebooks and Git/Github

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Pyplot
4. Matplotlib
5. Seaborn
6. scikit-learn

| Data Science Tools |
| -------------------|
| Python IDLE |
| Rstudio |
| Jupyter Notebooks |
| SQL |

### Below are a few examples of evaluating arithmetic expressions in Python 

1+1=2 

2*3=6

2**3=8

In [2]:
# This a simple arithmetic expression to mutiply then add integers 

(3*4)+5

17

In [12]:
# This will convert 200 minutes to hours by diving by 60

t = 200/60
print(f'To transform 200 minutes we need to divide by 60, then 200/60 = {t} hours')

To transform 200 minutes we need to divide by 60, then 200/60 = 3.3333333333333335 hours

__Objectives:__  
- Learn Python, R and SQL
- Learn Statistics, Mathematics and Specifics Subjects
- Use softwares like Hadoop, Git to help DevOps

## Author
Hegel Marinho Viana Filho